*{
    margin: 0;
    padding: 0;
}

.head{
    text-align: center;
    /* background-color: antiquewhite; */
    /* border: 1px solid black; */
    margin: 0px 0px 20px 0px;
    padding: 10px;
}

#h-line{
    background-color: aliceblue;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

#cbox{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.box{
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    width: 500px;
    height: 350px;
    box-shadow: 0px 2px 10px 2px;
}

.text{
    text-align: justify;
    margin: 20px 5px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#bg{
    min-height: 50vh;
    min-width: 100vh;
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
}
