/* feature section  */

.feature-element {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0px;
  gap: 5%;
}
.feature-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}
.ft {
  width: 100%;
}
.ft-img {
  grid-row: span 2;
  grid-column: span 2;
}
.ft-box {
  max-width: 450px;
}
.feature-element h2 {
  font-size: 3rem;
  margin-bottom: 3%;
}
.feature-element p {
  font-size: 1rem;
  margin-bottom: 2%;
  text-align: justify;
}

/* enjoy feature section */

.enjoy_section{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}
.enjoy_card{
  max-width: 50vw;
  min-height: 15vh;
  margin-top: 5%;
  padding: 5%;
  box-shadow: -1px 2px 5px rgb(232, 227, 227);
  border-radius: 10px;
}
.enjoy_header h3{
  margin-bottom: 30px;
  border-left: 5px solid orange;
  padding-left: 5px;
  font-size: 3rem;
}
.architect{
  max-width: 100%;
}
@media screen and (max-width: 360px) {
  .container {
    width: 300px;
  }
  .feature-element {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  gap: 5%;
}
  .feature-element h2 {
    font-size: 1rem;
    margin-bottom: 3%;
  }
  .feature-element p {
    font-size: .5rem;
    margin-bottom: 2%;
    text-align: justify;
  }
  /* enjoy feature section */

.enjoy_section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  gap: 5%;
}
.enjoy_card{
  max-width: 50vw;
  min-height: 15vh;
  margin-top: 5%;
  padding: 5%;
  box-shadow: -1px 2px 5px rgb(232, 227, 227);
  border-radius: 10px;
  width: 300px;
}
.enjoy_header h3{
  margin-bottom: 30px;
  border-left: 5px solid orange;
  padding-left: 5px;
  font-size: 1rem;
}
.enjoy_header p{
  font-size: .5rem;
}
.architect{
  max-width: 100%;
}
.container{
  width: 300px;
}
}
