/* global fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}
/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff900e;
  color: white;
  border-style: none;
  border-radius: 5px;
}
/* header*/
.header {
  background-color: #f7ebdd;
  margin: 0px 0px 40px 0px;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.list {
  display: flex;
}
.list li {
  list-style: none;
}
.list li a {
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

/* banner */
.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 30px auto;
}
.banner h2 {
  font-size: 4rem;
  text-align: center;
  margin: 30px;
}
.banner p {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0px;
}
.banner-bg {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 360px) {
  /* header*/
.header {
  background-color: #f7ebdd;
  margin: 0px 0px 10px 0px;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  max-width: 300px;
}
.navbar h1{
    font-size: 1rem;
}
.list {
  display: flex;
}
.list li {
  list-style: none;
  padding-left: 5px;
}
.list li a {
  text-decoration: none;
  color: black;
  font-size: .5rem;
}
/* banner */
.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin: 20px auto;
}
.banner h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 10px;
}
.banner p {
  font-size: .5rem;
  text-align: center;
  margin: 10px 0px;
}
.banner-bg {
  width: 100%;
  margin: auto;
}
.btn {
  padding: 5px 5px;
  font-size: .4rem;
  background-color: #ff900e;
  color: white;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
}
.container{
    width: 300px;
}
}
